<html lang="en">
    <head>
        <!-- Define a codificação de caracteres da página como UTF-8 -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles.css" type="text/css">
        <!-- Define o título da página que será exibido na aba do navegador -->

        <title>Flask Blog</title>
    </head>

    <body>
        <header></header>

        <main class="Main_Page">
            <div class="text">
                <h1>Good Travels</h1>
                <h3>Share your travel's experiences <br>&ensp;With other travel enthusiasts</h3>
                <button onclick=(window.open(url="{{ url_for('viagens') }}","_self"))>Start to Blog</button>
            </div>
            <img src="../static/imgs/good_travels.webp" alt="">
        </main>
        <footer></footer>
    </body>
</html>

