<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadados da página -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <title>Novo Post</title>

</head>
<body class="New_post">
    <!-- Título principal da página -->
    <h1 align-items="center" class="New_post">Criar Novo Post</h1>
    <div class="New_post">
       <!-- Formulário para criação de um novo post -->
        <form action="{{ url_for('new_post') }}" method="post" enctype="multipart/form-data" class="New_post">
            <!-- Campo para inserção do título do post -->
            <label for="title">Título:</label>
            <input type="text" name="title" id="title" required>
            <br><br>

            <!-- Campo para inserção da descrição do post -->
            <label for="description" class="New_post">Descrição:</label><br>
            <textarea name="description" id="description" required class="New_post"></textarea>
            <br><br>

            <!-- Campo para upload de uma imagem para o post -->
            <label for="file" class="New_post">Imagem:</label>
            <input type="file" name="file" id="file" class="New_post">
            <br><br>

            <!-- Botão para submeter o formulário -->
            <button type="submit" class="New_post">Enviar</button>
        </form>
        <br>
        <!-- Link para voltar à página inicial -->
        <a href="{{ url_for('index') }}">Voltar</a>
    </div>
</body>
</html>